#top-panel-wrapper,
#menu-panel-wrapper,
#spacer-widget {
  display: none !important;
}

#main-panel {
  top: 0px !important;
  height: 100% !important;
  max-width: unset !important;
}

.jp-CodeConsole-promptCell .jp-InputPrompt {
  margin-right: 10px;
}

.jp-PoweredBy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--jp-ui-font-size0);
  padding: 0 var(--jp-console-padding) 0 0;
  color: var(--jp-ui-font-color0);
}

.jp-CodeConsole-input .jp-InputCollapser {
  display: none;
}

.jp-InputArea {
  flex-direction: row;
}

.jp-InputArea-editor,
.jp-OutputArea-child .jp-OutputArea-output {
  margin-left: unset;
}

.jp-OutputArea-child {
  flex-direction: row;
}
